@{
    ViewBag.Title = "照明";
}
<h2>照明</h2>

<div class="form-inline">
    <button type="button" class="btn btn-primary">智能灯开</button>
    <button type="button" class="btn btn-primary">智能等关</button>
</div>
