@{
    ViewBag.Title = "安防";
}
<h2>安防</h2>

<form class="form-inline">
    <button type="submit" class="btn btn-default">查看红外监测</button>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPassword1">
    </div>
</form>

<form class="form-inline">
    <button type="submit" class="btn btn-default">查看气体泄漏</button>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPassword2">
    </div>

</form>

<form class="form-inline">
    <button type="submit" class="btn btn-default">查看火警报警</button>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPassword3">
    </div>

</form>
