@{
    ViewBag.Title = "开关";
}
<style>
    .marginBtn {
        margin: 10px
    }

    .marginRow {
        margin: 20px
    }
</style>
<h2>Swith</h2>
<div class="row marginRow">
    <div class="form-inline">
        <button type="button" class="btn btn-primary col-md-1 marginBtn">插座1开</button>
        <button type="button" class="btn btn-primary col-md-1 marginBtn">插座1关</button>
    </div>
</div>
<div class="row marginRow">
    <div class="form-inline">
        <button type="button" class="btn btn-primary col-md-1 marginBtn">插座2开</button>
        <button type="button" class="btn btn-primary col-md-1 marginBtn">插座2关</button>
    </div>
</div>
<div class="row marginRow">
    <div class="form-inline">
        <button type="button" class="btn btn-primary col-md-1 marginBtn">门磁开</button>
        <button type="button" class="btn btn-primary col-md-1 marginBtn">门磁关</button>
    </div>
</div>
